/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
 * Image Sources:
 * Galaxy 2 (bg gif): https://www.google.com/search?q=starry+sky+gif&tbm=isch&ved=2ahUKEwjSzIjDgcDvAhUdBjQIHQx4DKUQ2-cCegQIABAA&oq=starry+sky+gif&gs_lcp=CgNpbWcQAzICCAAyAggAMgIIADICCAAyBggAEAUQHjIGCAAQBRAeMgYIABAFEB4yBggAEAUQHjIGCAAQBRAeMgYIABAFEB5Q7glY7glgjBBoAHAAeACAAVCIAVCSAQExmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=hYNWYJL2N52M0PEPjPCxqAo&bih=678&biw=1523&rlz=1C1CHBF_enUS892US892#imgrc=legBmkOwpUVzhM
 * snowMtn: Image by <a href="https://pixabay.com/users/jck5d-2733400/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2120004">JCK5D</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2120004">Pixabay</a>
 * neonCity: Image by <a href="https://pixabay.com/users/computerizer-4588466/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3617340">Computerizer</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3617340">Pixabay</a>
 * futureCity: Image by <a href="https://pixabay.com/users/ilovetattoos-8484320/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3265964">ilovetattoos</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3265964">Pixabay</a>
 * pinkCity: Image by <a href="https://pixabay.com/users/parallelvision-15128111/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5618486">ParallelVision</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5618486">Pixabay</a>
 * forest: Image by <a href="https://pixabay.com/users/sasint-3639875/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1807476">Sasin Tipchai</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1807476">Pixabay</a>
 * 
 * planeInterior: https://www.businessinsider.com/boeing-737-max-private-jet-interior-concept-looks-like-spaceship-2020-5
 * greenRoom: https://www.urdesignmag.com/lifestyle/2018/07/26/sml-designs-a-lime-green-suite-for-the-hotel-the-designers-premier-kondae-in-seoul/
 * spaceRoom: https://thespaces.com/meet-cube-one-a-sci-fi-take-on-the-tiny-home-trend/
 * roomService: https://www.travelpulse.com/news/cruise/carnival-cruise-line-eliminating-free-room-service.html
 * 
 * beach: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpaperaccess.com%2Ffuturistic-tropical&psig=AOvVaw3WXk2_OoDwt_dNNrdUsT5U&ust=1616391356162000&source=images&cd=vfe&ved=0CAkQjhxqFwoTCNDLwpfVwO8CFQAAAAAdAAAAABAV
 * cafe: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.nytimes.com%2F2020%2F10%2F14%2Ftravel%2Ffuture-hotel-design-virus.html&psig=AOvVaw3WXk2_OoDwt_dNNrdUsT5U&ust=1616391356162000&source=images&cd=vfe&ved=0CAkQjhxqFwoTCNDLwpfVwO8CFQAAAAAdAAAAABAs
 * market: http://coolvibe.com/2011/the-market/ (artist: Nacho Yague)
 * theater: https://www.google.com/url?sa=i&url=https%3A%2F%2Fbarrie360.com%2Fcheck-out-this-new-movie-theatre-design-that-is-a-fantastic-reminder-we-live-in-the-future%2F&psig=AOvVaw1Meum_6P660Ptl7_B3PjZQ&ust=1616391837224000&source=images&cd=vfe&ved=0CAkQjhxqFwoTCIj19f7WwO8CFQAAAAAdAAAAABAJ
 *
 * amenities: https://www.differencebetween.com/difference-between-facilities-and-vs-amenities/
 * cliffHotel: https://www.orangesmile.com/travelguide/afoto/most-futuristic-hotels.htm
 * futureRoom: https://medium.com/@jogbojogbo/the-hotel-room-of-the-future-7d3ab437e8e7
 * veranda: https://decorsystems.com.au/love-at-first-sight-12-amazing-hotel-lobbies-around-the-world/
 */


/* ---- Base Rules ---- */
body {
    /* background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%); */
    margin: 0;
    font-family: 'Audiowide', cursive;
    color: #fff;
    background-image: url(/images/galaxy2.gif);
    background-size: contain;
}


/* Typeography General*/
h1 {
    font-family: 'Megrim', cursive;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid rgb(204, 1, 255);
    font-family: 'Della Respira', serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #000;
    color: #fff;
    transition: ease 0.3s all;
}

.navbar__menu .menu__link.selected {
    background: #000;
    color: #fff;
}

/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}

/* Button Styles */
.scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
/* section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
} */


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
/* @keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
} */

/* Images and Image Container */
.image__container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(150px, auto);
}

.photobox {
    width: 100%;
}